<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">


<bean id="benzinli"  class="com.deniz.Spring.DI.ConstructorInjection.BenzinliMotor" >   </bean>
<bean id="mercedes"  class="com.deniz.Spring.DI.ConstructorInjection.Mercedes" > <constructor-arg ref="benzinli" >  </constructor-arg>  </bean>

<bean id="dizel190"  class="com.deniz.Spring.DI.ConstructorInjection.DizelMotor" >   </bean>
<bean id="mercedes190D"  class="com.deniz.Spring.DI.ConstructorInjection.Mercedes" > <constructor-arg ref="dizel190" >  </constructor-arg>  </bean>

<!--<bean id="turkceci2"  class="com.deniz.SpringDemo.TurkceOgretmeni"  >   </bean>   -->

<!--  <bean id="nesne" class="com.deniz.SpringDemo"> </bean> -->

</beans>